parameters:
    level: 8
    paths:
        - src
        - tests
    universalObjectCratesClasses:
        - Setle\Response\ResponseObject
    ignoreErrors:
        -
            message: '#^Argument of an invalid type iterable\|object supplied for foreach, only iterables are supported\.$#'
            path: src/Response/ResponseObject.php
